<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Pollo loco</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="../img/3_enemies_chicken/chicken_normal/1_walk/1_w.png" type="image/x-icon">
</head>

<body>
    <div class="">
        <h1 id="title" class="">El Pollo loco Help</h1>
        <div class="help-screen">
            
            <div class="game-menu">
                <div class="explanation">
                    <div>
                        <img class="rotate-180" src="../img/arrow-key.png" alt="Arrow to left">
                        or
                        <img src="../img/d-key.png" alt="Arrow to left">
                    </div>
                    
                    <span>Move forward</span>
                </div>
                <div class="explanation">
                    <div>
                        <img src="../img/arrow-key.png" alt="Arrow to left">
                        or
                        <img src="../img/a-key.png" alt="Arrow to left">
                    </div>
                    
                    <span>Move backward</span>
                </div>
                <div class="explanation">
                    <div>
                        <img class="rotate-90" src="../img/arrow-key.png" alt="Arrow to left">
                        or
                        <img src="../img/w-key.png" alt="Arrow to left">            
                    </div>
                    
                    <span>Jump</span>
                </div>
                <div class="explanation">
                    <div>
                        <img src="../img/q-key.png" alt="Arrow to left">
                        or
                        <img src="../img/t-key.png" alt="Arrow to left">
                    </div>
                    <span>Throw Bottle</span>
                </div>
            </div>
        </div>
        
        <a class="close" href="../index.html">Close</a>
    </div>
</body>

</html>